*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat';
}

body{
    background-color: #2B2922;
}

/* navbar */
.navbar{
    width: 85%;
    height: 50px;
    margin: 2em auto;
}
.logo{
    float: left;
    display: inline;
    width: 100px;

}
.list{
    float: left;
    list-style-type: none;
    /* padding: 0; */
    color: #ABA9A1;
    margin-top: .7em;
    margin-left: 19em;
}
.list-item{
    float: left;
    margin-left: 2.6em;
    font-size: 0.9rem;
}

.list-item:hover {
    font-weight: bold;
    color: white;
}

.button-small{
    float: right;
    margin-top: .3em;
    background-color: transparent;
    color: #968634;
    border: 1px solid #968634;
    border-radius: 5px;
    padding: .5em 1em;
    font-weight: bold;
    font-size: 0.9rem;
}

.button-small:hover {
    background-color: #968634;
    color: #2B2922;
}
/* Hero section */


.hero-img{
    width: 100%;
    height: 80%;
    object-fit: cover;
}
.hero-heading{
    color: #fff;
    font-size: 4.4rem;
    float: left;
    font-weight: bold;
    margin: 0 0 .6em 0;
    margin-left: 1.3em;
    width: 50%;
}
article{
    color: white;
    width: 30%;
    float: right;
    margin-top: 2em;
    margin-right: 7em;
    font-size: 1rem;
    font-weight: 500;
}

/* bottom icon */

.fa-solid{
    border: 2px solid #fff;
    padding: 0 0.25em;
    border-radius: 50%;
    margin-right: .2em;
}
